.backgroundInvestors {
    background-image: url(../assets/images/Global_network_generated.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.backgroundInvestors1 {
    background-image: url(../assets/images/Global_network_generated.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 80vh;
}